* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  color: #333;
  height: 100vh;
}

#wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
header {
  background: #EEE;
}

header h1 {
  text-align: center;
  padding: 1rem;
}

nav ul {
  padding-bottom: 1rem;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin: 0 10px;
}

nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
}

/* main contents */
main {
  padding: 1rem;
  flex-grow: 1;
}

section {
  margin: 0 auto 20px auto;
  padding: 20px;
  background: #FFF;
  max-width: 1000px;
}

.container{
  display: flex;
  gap: 20px;
  flex-direction: row-reverse;
}

.column-img {
  flex: 1;
}

.column-text {
  flex: 2;
}

/* footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
}
